// レスポンシブ
$sp: 479px;
$md: 768px;


@mixin sp {
  @media screen and (max-width: $sp) {
    @content;
  }
}

@mixin md {
  @media screen and (max-width: $md) {
    @content;
  }
}

.container {
  min-height: 100vh;
  position: relative;
  padding-bottom: 120px;
  box-sizing: border-box;
}