// レスポンシブ
$sp: 480px;
$tb: 600px;
$tb_land: 960px;
$dis: 1280px;


@mixin sp {
  @media screen and (mim-width: $sp) {
    @content;
  }
}

@mixin tb {
  @media screen and (min-width: $tb) {
    @content;
  }
}

@mixin tb_land {
  @media screen and (min-width: $tb_land) {
    @content;
  }
}

@mixin dis {
  @media screen and (min-width: $dis) {
    @content;
  }
}

#app {
  overflow: hidden;
}

#container {
  background-color: #faf8f2;
  overflow: hidden;
}



.container {
  min-height: 100vh;
  position: relative;
  padding-bottom: 120px;
  box-sizing: border-box;
  overflow: hidden;
}

ul {
  list-style: none;
}


// ステータスメッセージの表示
.alert {
  max-width: 50%;
  margin: 0 auto;
  animation-name: fadeOut;
  animation-duration: 4s; 
  animation-fill-mode: forwards;
  
}
@keyframes fadeOut {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}