// レスポンシブ
$sp: 479px;
$md: 768px;


@mixin sp {
  @media screen and (max-width: $sp) {
    @content;
  }
}

@mixin md {
  @media screen and (max-width: $md) {
    @content;
  }
}

.container {
  min-height: 100vh;
  position: relative;
  padding-bottom: 120px;
  box-sizing: border-box;
}

ul {
  list-style: none;
}


// ステータスメッセージの表示
.alert {
  max-width: 50%;
  margin: 0 auto;
  animation-name: fadeOut;
  animation-duration: 4s; 
  animation-fill-mode: forwards;
  
}
@keyframes fadeOut {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}