// タイトル
@mixin _s-title {
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 10rem;
  margin-bottom: 4rem;

  // 下線
  margin: 10rem auto 4rem auto;
  width: 210px;
  background: linear-gradient(transparent 70%, #ffba3c 60%);

  @include tb {
    font-size: 2.5rem;
  }

  @include tb_land {
    font-size: 2.5rem;
  }

  @include dis {
    font-size: 2.5rem;
  }
}


// テキスト
@mixin _s-text {
  text-align: center;
  font-weight: 600;
  margin-top: 30px;
  line-height: 3.2;

  @include tb {
    font-size: 22px;
  }

  @include tb_land {
    font-size: 22px;
  }

  @include dis {
    font-size: 22px;
  }
}