.card {
  width: 500px;

  .card-title {
    font-weight: bold;
    text-align: center;
    padding-bottom: 3px;
    font-size: 24px;
    border-bottom: 1px solid #dee2e6
  }
}

.form-area {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 3rem;
  padding-bottom: 1rem;
  margin: auto;

  .form-group {
    margin-bottom: 30px;
    margin: 20px auto 30px auto;
    width: 75%;
      .form-label {
        margin-left: 20px;
      }
    
      .form-control {
        padding: 10px 10px 10px 20px;
        height: calc(1.6em + 0.75rem + 10px);
        border-radius: 30px;
        
          &:focus {
            border-color: hsl(49, 71%, 78%);
            box-shadow: 0 0 0 0.2rem #ffc107;
          }
      }
  }

  .form-text {
    text-align: center;
  }
}

.btn-warning {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
  max-width: 50%;
  margin: 0 auto;
  border-radius: 30px;

    &:hover {
      background-color: #ffd454;
      border-color: white;
    }
}


// 補完機能の背景色（水色）削除
input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s !important;
}


a {
  color: #fdca2f;
  font-weight: bold;

    &:hover {
      color: #d1891c;
      text-decoration: none;
    }
}