.navbar {
  background-color: $yellow;
  display: block;
  height: 160px;

  @include tb {
  padding: 0.5rem 4.3rem;
  }

  @include tb_land {
  padding: 0.5rem 4.3rem;
  }

  @include dis {
  padding: 0.5rem 4.3rem;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .nav-top {
      display: block;
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .nav-main {
      display: none;

      // @include tb {
      //   display: block;
      // }
    
      @include tb_land {
        display: block;
        margin-right: 14rem;
      }

      @include dis {
        display: block;
      }
    }


    .nav-item, .nav-item.dropdown {
      margin-left: 9px;

      @include tb {
        margin-left: 30px;
        margin-top: 3px;
      }
    
      @include tb_land {
        margin-left: 30px;
        margin-top: 3px;
      }

      @include dis {
        margin-left: 30px;
        margin-top: 3px;
      }

        // ログイン/新規登録ボタン
        .nav-link {
          text-align: center;
          font-size: 13px;
          font-weight: lighter;
          padding: 0;
          color: white;

            &:hover {
              color: #805f0e;
              transition: all .3s ease;
            }
        }
        .nav-text {
          margin-top: 3px;
        }
        i {
          font-size: 25px;
          @include sp {
            font-size: 20px;
          }
        }
        #navbarDropdown {
          margin-top: 4px;
          @include sp {
            margin-top: 0px;
          }
          img {
            object-fit: cover;
            width: 2.2rem;
            height: 2.2rem;
            @include sp {
              width: 2rem;
              height: 2rem;
            }
          }
        }

        .navbar-nav {
          .dropdown-item.active, .navbar .dropdown-item:active {
              color: #fff;
              text-decoration: none;
              background-color: #ffe366;
          }
          .dropdown-item:hover, .dropdown-item:focus {
              color: #16181b;
              text-decoration: none;
              background-color: #ffeebd;
          }
        }
    }
    
  }

  .nav-top {
    .nav-top-menu {
      display: flex;
      justify-content: flex-end;
    }
  }

  .app-logo {
    font-size: 2rem;
    color: #3b3f44;
  }

  .nav-list {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 15px;
    margin-top: 30px;
    @include sp {
      width: 100%;
    }
  }

  .nav-list-item {
    margin-right: 5rem;
  }

  .navbar-about {
    margin-right: 5px;
    color: white;
      &:hover {
        color: #805f0e;
      }
  }



  
  // アイコンの背景色
  .rounded-circle {
    background-color: white;
  }
}