.container {
    display: flex;
    justify-content: center;

    .card {
      margin-top: 10px;
      width: 700px;
    }

    .card-title {
      padding: 16px 0;
      font-size: 1.5rem;
      font-weight: bold;
      text-align: center;
      border-bottom: 1px solid #dee2e6
    }

    // レシピ入力欄
    .recipe-form {
      padding: 48px 48px 16px 48px;

        // 料理画像投稿欄
        .form-image {
          display: flex;
          flex-direction: column;
          margin: 25px 0;
          font-weight: bold;
          img {
            object-fit: cover;
            width: 300px;
            height: 200px;
          }
        }
    
        // 各入力項目のタイトル
        .form-group label {
          margin: 0;
          font-weight: bold;
          margin-bottom: 5px;
        }
    
        // 調理時間・料理の種類・料理の区分
        .form-md-area {
          display: flex;
          justify-content: space-between;
          @include sp {
            display: flex;
            flex-direction: column;
          }
              .md-area {
                border-radius: 5px;
              }
        }
    
        // 材料・作り方・コメント記入欄
        .ingredients, .description, .comment {
            .form-control {
              border-radius: 5px;
              height: 100px;
              width: 100%;
              resize: none;
            }
        }

        // 投稿/更新ボタン
        .post-button, .edit-button {
          margin-top: 48px;
          text-align: center;
            .btn {
              @include _btn;
              box-shadow: none;
            }
        }
    }

}