.recipe-container {
  margin: 0 50px;
}

.row {
  margin: auto;
}

.recipe-card {
  padding: 10px 15px;
  margin: 10px 0;
  height: 355px;

    .card-top {
      height: 44px;
      margin-bottom: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;

        .recipe-post-user {
          font-size: 15px;
            a {
              color: #6c757d;
              font-weight: lighter;
            }
            img {
              object-fit: cover;
              width: 25px;
              height: 25px;
            }
        }
    }

    .card-body {
      padding: 0;

      .recipe-title {
        margin-left: 17px;
        text-align: left;
        font-size: 20px;
        font-weight: bold;
        color: $body-color;
      }

      .card-body-md {
        display: flex;
        justify-content: space-around;
      }

      div .meal-type-icon, .cook-time-icon, .meal-class-icon {
        width: 32px; 
        height: 32px; 
        border-radius: 5px; 
        margin: 3px auto 5px auto;
      }

      p.meal-type, .cook-time, .meal-class {
        font-size: 12px;
        margin-top: 0;
        margin-bottom: 0;
      }

      .card-tags {
        font-size: 14px;
        margin-top: 10px;
        text-align: left;
          a {
            color: #6c757d;
            font-weight: lighter;
          }
      }
    }

    .bd-placeholder-img {
      width: 250px;
      height: 150px;
      border-radius: 5px;
      margin: 0 auto 15px auto;

        img {
          object-fit: cover; 
          width: 100%; 
          height: 100%;
        }
    }


    @media screen and (max-width: 768px) {
      #app .recipe {
        padding: 10px 10px 20px 10px;
      }
    }

}

// ブックマークアイコン
.stock-btn {
    .btn:hover {
      color: orange;
      text-decoration: none;
    }
}
.no-stock {
  color: lightgray;
}

.stocked {
  color: $yellow;
}
