.top-container {
  padding: 0 60px;
}

.t-wrapper {
  display: flex;
  justify-content: space-between;


  .t-main-title {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 75px;
    margin-top: 10rem;
    margin-left: 2rem;
      .t-main-title-orange {
        display: block;
        color: orange;
      }
  }

  .t-wrapper-right {
    position: relative;
    height: 800px;
    width: 750px;
    background-color: #ffdfb6;
  }

  a.t-button-text {
    position: absolute;
    color: white;
    margin-left: 2.2rem;
    margin-top: 3.5rem;
    font-size: 1.3rem;
    font-weight: 600;
      &:hover {
        opacity: 0.5;
      }
  }

  .t-wrapper-list {
    position: absolute;
    margin-top: 12rem;
    list-style: none;
      .t-list-item {
        color: #3b3f44;
        padding-top: 20px;
        font-size: 1.3rem;
        font-weight: 600;
      }

      .t-list {
        color: #3b3f44;
          &:hover {
            color: orange;
          }
      }

      .t-list:before {
        color: orange;
        content: "■";
        // width: 12px;
        // height: 12px;
      }
  }

  .t-button {
    width: 220px;
    height: 50px;
    background-color:  orange;
    border-radius: 5px;
    text-align: center;
    padding-top: 9px;
  }

}

.concept-title, .about-title {
  text-align: center;
  font-weight: 600;
  font-size: 2.5rem;
  margin-top: 10rem;
  margin-bottom: 4rem;
}

.concept-title {
  margin: 10rem auto 4rem auto;
  width: 210px;
  background: linear-gradient(transparent 70%, #ffba3c 60%);
}

.concept-text {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  margin-top: 30px;
  line-height: 3.22222;
}

.text1-orange {
  color: orange;
}

.t-main-about {
  margin-top: 110px;

  .t-main-about-text {
    font-weight: bold;
    color: orange;
    
  }
}

.t-items {
  margin-top: 6rem;
  display: flex;
  justify-content: space-around;
}

.t-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #faf8f2;
  border-radius: 7px;
  width: 360px;
  
    // ３つのできることの画像
    img {
      position: relative;
      height: 430px;
    }
    
    // 「投稿」の画像サイズ変更
    .img2 {
      height: 400px;
      margin-top: 30px;
    }

    .t-item-name {
      position: absolute;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      color: #3b3f44;
      width: 100px;
      margin-top: 13px;
    }
    
    .number {
      font-size: 2rem;
      position: absolute;
      top: -13;
      left: -130;
      padding: 0px 16px;
      color: #fff;
      border-bottom: 3px solid orange;
      border-radius: 7px 0 10px 0;
      background: orange;
    }

    .t-item-text {
      font-weight: bold;
      font-size: 18px;
    }
}
