#main {
  background-color: #faf8f2;
}

// トップページのメイン部分
.t-wrapper {
  position: relative;
}

// メインタイトル
.t-main-title {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 3rem;
  right: 5rem;
  font-weight: bold;
  font-size: 6rem;
  margin-left: 8rem;
  line-height: inherit;
  .t-main-title-orange {
    display: block;
    color: orange;
  }
}

// トップページメイン画像
.top-img {
  padding-top: 3rem;
  opacity: 0.9;
  filter: grayscale(10%);
}

// トップページメイン画像 -ランタン-
.top-img-lantern {
  position: absolute;
  top: 12rem;
  left: 23rem;
}


// トップページの内容
.t-main-content {
  padding: 0 60px;
  margin-top: 14rem;
}

// 「コンセプト」、「Lanternにできること」のタイトル
.concept-title, .about-title {
  text-align: center;
  font-weight: 600;
  font-size: 2.5rem;
  margin-top: 10rem;
  margin-bottom: 4rem;
}

// 「コンセプト」のタイトルの下線部分
.concept-title {
  margin: 10rem auto 4rem auto;
  width: 210px;
  background: linear-gradient(transparent 70%, #ffba3c 60%);
}

// 「コンセプト」のテキスト
.concept-text {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  margin-top: 30px;
  line-height: 3.22222;
}

.text1-orange {
  color: orange;
}



// Lanternのできること
.t-main-about {
  margin-top: 110px;
  padding-bottom: 3rem;

  .t-main-about-text {
    font-weight: bold;
    color: orange;
    
  }
}

.t-items {
  margin-top: 6rem;
  display: flex;
  justify-content: space-around;
}

.t-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 7px;
  width: 360px;
  
    // 「Lanternのできること」の画像サイズの変更
    img {
      position: relative;
      height: 430px;
    }
    
    // 「投稿」の画像サイズ変更
    .top-share {
      height: 400px;
      margin-top: 30px;
    }

    // 「Lanternのできること」のそれぞれのタイトル
    .t-item-title {
      position: absolute;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      color: #3b3f44;
      width: 100px;
      margin-top: 13px;
    }
    
    // 画像番号
    .number {
      font-size: 2rem;
      position: absolute;
      top: -13;
      left: -130;
      padding: 0px 16px;
      color: #fff;
      border-bottom: 3px solid orange;
      border-radius: 7px 0 10px 0;
      background: orange;
    }

    // 各画像の説明文
    .t-item-text {
      font-weight: bold;
      font-size: 18px;
    }
}
