// トップページ メイン部分
.screen {
  .screen__main {
    position: relative;
    @include tb {
    }
  
    @include tb_land {
      width: 73%;
    }

    @include dis {
      margin-top: 0px;
    }
    
    // トップページメイン画像
    .main-image {
      padding-top: 3rem;
      opacity: 0.9;
      filter: grayscale(10%);
      width: 340px;
      @include tb {
        width: 100%;
      }
    
      @include tb_land {
        width: 100%;
      }

      // @include dis {
      //   width: 73%;
      //   top: 12rem;
      //   left: 25rem;
      // }
    }
  
    // トップページメイン画像 -ランタン-
    .main-lantern {
      position: absolute;
      top: 6rem;
      left: 6rem;
        @include sp {
          top: 12rem;
          left: 23rem;
        }
      
        @include tb {
          top: 9rem;
          left: 17rem;
        }
      
        @include tb_land {
          top: 9rem;
          left: 16rem;
        }

        @include dis {
          top: 9rem;
          left: 20rem;
        }

        & > img {
          width: 104px;
        
          @include tb {
            width: 66%;
          }
        
          @include tb_land {
          }
  
          @include dis {
            width: 100%;
          }
        }
    }

  }

  // メインタイトル
  .screen__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 2.1rem;
    z-index: 1;
    top: 11rem;
    left: 2rem;

      @include sp {
        top: 12rem;
        left: 23rem;
      }

      @include tb {
        max-width: 100%;
        font-size: 6rem;
      }
    
      @include tb_land {
        max-width: 100%;
        left: 33rem;
        font-size: 5rem;
      }

      @include dis {
        max-width: 100%;
        font-size: 6rem;
      }
  
    .screen-title {
      top: 3rem;
      right: 5rem;
      line-height: inherit;
    }
  
    .orange {
      display: block;
      color: orange;
    }
  }
}


// コンセプト
.concept {
  padding: 0 9px;
  margin-top: 14rem;

  @include tb {
    padding: 0 60px;
  }

  @include tb_land {
    padding: 0 60px;
  }

  @include dis {
    padding: 0 60px;
  }

    &__title {
      @include _s-title;
    }

    &__text {
      @include _s-text;

        &.orange {
          color: orange;
        }
    }
}



// できること
.about {
  margin-top: 110px;
  padding-bottom: 3rem;

  &__title {
    @include _s-title;
  }

  &__items {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
  
    @include tb {
      margin-top: 6rem;
      display: flex;
      justify-content: space-around;
      flex-direction: row;
    }
  
    @include tb_land {
      margin-top: 6rem;
      display: flex;
      justify-content: space-around;
      flex-direction: row;

    }

    @include dis {
      margin-top: 6rem;
      display: flex;
      justify-content: space-around;
      flex-direction: row;

    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 7px;
    margin: 0 10px 50px 10px;
  
    @include tb {
      width: 360px;
    }
  
    @include tb_land {
      width: 360px;
    }

    @include dis {
      width: 360px;
    }


    & > img {
      position: relative;
      max-height: 330px;
      width: auto;

      @include tb {
        height: 430px;
      }
    
      @include tb_land {
        height: 430px;
      }
  
      @include dis {
        height: 430px;
      }
    }
    
    .share {
      height: 400px;
      margin-top: 30px;
    }

      .item-title {
        text-align: center;
        font-weight: 600;
        font-size: 1.5rem;
        margin: 0;

        // font-size: 33px;
        // font-weight: bold;
        // color: #3b3f44;
        // width: 100px;
        // margin-top: 13px;
      
        // @include tb {
        //   font-size: 25px;
        // }
      
        // @include tb_land {
        //   font-size: 25px;
        // }
  
        // @include dis {
        //   font-size: 25px;
        // }
      }

      // 画像番号
      .number {
        font-size: 2rem;
        position: absolute;
        top: -13px;
        left: -17rem;
        padding: 0px 24px;
        color: #fff;
        border-bottom: 3px solid orange;
        border-radius: 7px 0 10px 0;
        background: orange;

        @include tb {
          top: -13px;
          left: -130px;
          padding: 0px 14px;
        }
      
        @include tb_land {
          top: -13px;
          padding: 0px 14px;
        }
  
        @include dis {
          top: -13px;
          padding: 0px 14px;
        }
      }

      .item-text {
        font-weight: 600;
        font-size: 16px;
      
        @include tb {
          font-size: 20px;
        }
      
        @include tb_land {
          font-size: 20px;
        }
    
        @include dis {
          font-size: 20px;
        }
      }
  }
}