.user-page {
  margin: 20px 150px;
  display: flex;
  @include sp {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }

  // ユーザー情報
  .user-detail {
    margin-right: 16px;
    padding: 24px;
    width: 360px; 
    height: 590px; 
    background-color: white; 
    @include sp {
      height: 400px;
      margin: 20px 0;
    }
    
      .user-detail-top {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
  
      .avatar-image {
        margin-bottom: 10px;
         & img {
            object-fit: cover; 
            width: 100px; 
            height: 100px;
         }
      }
  
      .user-name {
        font-size: 1.3rem;
        font-weight: bold;
      }
  
      .edit-profile {
        margin-top: 50px;
        text-align: center;
        .edit-button {
            @include _btn;
          }
      }
  }

  // 投稿レシピ一覧
  .all-post-lists {
    width: 700px; 
    background-color: white;
    @include sp {
      width: 360px; 
    }
      .list-title {
        font-weight: bold;
        font-size: 1.3rem;
        padding: 16px;
        margin: 0;
          i.title {
            color: orange;
            margin-right: 10px;
          }
      }

      .post-recipe-card {
        width: 100%;
        padding: 15px;
        border-top: 1px solid #dee2e6;

          .card-top {
            display: flex;
            justify-content: space-between;
            
              .post-time {
                @include _user;
                  & img {
                    height: 20px;
                    width: 20px;
                  }
              }

              // 編集・削除アイコン
              .edit-and-delete {
                display: flex;
                align-items: center;
                margin-bottom: 16px;
                @include sp {
                  align-items: normal;
                }
                  a {
                    margin-left: 20px;
                    &.edit-btn {
                    color: #3b3f44;
                      &:hover {
                        color: orange;
                      }
                    }
                    &.delete-btn {
                      cursor: pointer;
                      color: #d85038;
                    }
                  }
              }
          }
          .card-main {
            display: flex;
            @include sp {
              flex-direction: column;
            }
              .post-recipe-img {
                margin-right: 30px;
                @include sp {
                  margin: 0;
                  text-align: center;
                }
                  & img {
                    width: 240px;
                    height: 150px;
                    object-fit: cover;
                  }
              }
              .card-main-text {
                display: flex;
                flex-direction: column;
                @include sp {
                  margin-top: 15px;
                }
                  .card-title {
                    @include _title;
                    @include sp {
                      margin-bottom: 1.0rem;
                    }
                  }
                  .recipe-features {
                    display: flex;
                    justify-content: space-between;
                    width: 310px;
                      .body-md {
                        text-align: center;
                        font-size: 0.8rem;
                      }
                      .meal-type-icon, .cook-time-icon, .meal-class-icon {
                        text-align: center;
                        width: 50px; 
                        height: 50px; 
                        margin: 3px auto 5px auto;
                      }
                  }
              }
          }
          .card-bottom {
            @include _tag;
          }
      }
  }
}
