.container {

  .profile {
    margin-top: 24px;
    width: 800px;
    background-color: white;
    padding: 24px;
    @include sp {
      width: 400px;
    }
  }

  // アバター画像
  .form-image {
    text-align: center;
      .avatar_image {
        cursor: pointer;
          img {
            object-fit: cover;
            width: 100px;
            height: 100px;
          }
      }
  }
  
  // ニックネーム欄
  .nickname {
    margin: 20px auto;
    display: table;
      label {
        margin-left: 0.3rem;
        font-weight: bold;
      }
      .form-control{
        padding: 10px 10px 10px 20px;
        height: calc(1.6em + 0.75rem + 10px);
        border-radius: 30px;
        margin: auto;
      }
  }

  .edit-button {
    margin-top: 48px;
    text-align: center;

      button.btn {
        @include _btn;
        width: 35%;
        box-shadow: none;
        @include md {
          width: 45%;
        }
      }
  }
}
