.container {
    // 投稿レシピ一覧
    .all-post-lists {
      width: 700px; 
      background-color: white;

        // ストックレシピ一覧ヘッダー部分
        .note-header {

          .list-title {
            font-weight: bold;
            font-size: 1.3rem;
            padding: 16px;
            margin: 0;
              i.title {
                color: orange;
                margin-right: 10px;
              }
          }
  
          // ノート内検索窓
          .search_note {
            width: 680px;
            height: 40px;
            margin: 10px auto 20px auto;
          }
        }


        .post-recipe-card {
          width: 100%;
          padding: 15px;
          border-top: 1px solid #dee2e6;

            .card-top {
              display: flex;
              justify-content: space-between;

              .post-time {
                @include _user;
                  img {
                    height: 20px;
                    width: 20px;
                  }
                }

                // 編集・削除アイコン
                .edit-and-delete {
                  display: flex;
                  align-items: center;
                    a {
                      margin-left: 20px;
                      &.edit-btn {
                      color: #3b3f44;
                        &:hover {
                          color: orange;
                        }
                      }
                      &.delete-btn {
                        cursor: pointer;
                        color: #d85038;
                      }
                    }
                }
            }
            .card-main {
              display: flex;
                .post-recipe-img {
                  margin-right: 30px;
                    & img {
                      width: 240px;
                      height: 150px;
                      object-fit: cover;
                    }
                }
                .card-main-text {
                  display: flex;
                  flex-direction: column;
                    .card-title {
                      @include _title;
                    }
                    .recipe-features {
                      display: flex;
                      justify-content: space-between;
                      width: 310px;
                        .body-md {
                          text-align: center;
                          font-size: 0.8rem;
                        }
                        .meal-type-icon, .cook-time-icon, .meal-class-icon {
                          text-align: center;
                          width: 50px; 
                          height: 50px; 
                          margin: 3px auto 5px auto;
                        }
                    }
                }
            }
            .card-bottom {
              @include _tag;
            }
        }
    }
}