/* ======================================= */
/* 災害時の調理について */
.about-top {
  padding: 0 10px 0 10px;

  &__title {
    @include _s-title;

    width: 250px;

    @include tb {
      width: 410px;
    }

    @include tb_land {
      width: 410px;
    }

    @include tb_land {
      width: 410px;
    }
  }

  &__text {
    @include _s-text;
  }
}
/* ======================================= */



/* ======================================= */
/* パッククッキングとは */
.about-pack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 10px;

  @include tb {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @include tb_land {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @include tb_land {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  

  &__title {
    @include _s-title;

    width: 267px;

    @include tb {
      width: 410px;
    }

    @include tb_land {
      width: 410px;
    }

    @include tb_land {
      width: 410px;
    }
  }

  &__text {
    @include _s-text;
    margin: 0;
  }
}
/* ======================================= */



/* ======================================= */
/* 調理に必要な道具 */
/* 調理手順 */

.about-items, .about-cook {
  padding: 0 30px 0 30px;

  &__title {
    @include _s-title;
    margin: 0;
    margin-top: 10rem;
    width: 280px;
    
    @include tb {
      text-align: left;
    }

    @include tb_land {
      text-align: left;
    }

    @include tb_land {
      text-align: left;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    
    @include tb {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }

    @include tb_land {
      display: flex;
      justify-content: space-between;
    }

    @include tb_land {
      display: flex;
      justify-content: space-between;
    }
  }

  &__item {
    position: relative;
    background-color: #ffedba;
    margin: 10px;
    border-radius: 7px;
    width: 100%;
    padding: 0 5px 0 5px;
  }

  .img-item {
      & > img {
        width: 100%;
      }
  }


  .step_3 {
    margin-top: 4rem;
    margin-left: 6rem;
    zoom: 0.5;
  }


  &__text {
    @include _s-text;
  }

}


// 手順番号
.number {
  position: absolute;
  font-size: 2rem;
  padding: 0px 16px;
  color: #fff;
  border-radius: 7px 0 10px 0;
  background: orange;
  left: 0px;
}

/* ======================================= */
