/* ======================================= */
/* ハンバーガーメニューのデザイン */
.mobile-menu__btn {
  position: relative;
  width: 50px;
  height: 44px;
  cursor: pointer;

    & > span {
      position: absolute;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: #fff;
      border-radius: 4px;
    }
}


.mobile-menu__btn, .mobile-menu__btn span {
  display: inline-block;
  transition: all .5s;
  box-sizing: border-box;
}
.mobile-menu__btn span:nth-of-type(1) {
  top: 0;
}
.mobile-menu__btn span:nth-of-type(2) {
  top: 20px;
}
.mobile-menu__btn span:nth-of-type(3) {
  bottom: 0;
}


.mobile-menu__btn.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
}
.mobile-menu__btn.active span:nth-of-type(2) {
  opacity: 0;
}
.mobile-menu__btn.active span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
}
/* ======================================= */


.mobile-btn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  bottom: -10px;
  z-index: 300;

  
}

.mobile-menu__btn {
  
  // @include tb {
  //   display: none;
  // }

  @include tb_land {
    display: none;
  }

  @include dis {
    display: none;
  }
}

.mobile-menu__text {
  color: white;
  text-align: center;
  margin-right: 4px;
  margin-top: 3px;
  font-weight: 600;
}


.mobile-menu {
  opacity: 0;
  background-color: #ffc107;
  position: relative;
  z-index: 200;

  // @include tb {
  //   display: none;
  // }

  @include tb_land {
    display: none;
  }

  @include dis {
    display: none;
  }

  &__list {
    padding: 0;
    text-align: center;
  }

  &__item {
    border-bottom: solid 1px rgba(255, 255, 255, 0.6);
    padding: 10px;
  }

  &__link {
    color: white;
    &:hover {
      color: #3b3f44;
    }
  }
}

.menu-open {
  opacity: 1;
}